.App {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.App-header {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.nav-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-container {
  text-align: left;
  margin-right: 20px;
}

.Intro {
  font-size: 20px;
  margin-bottom: -10px;
}

.last-name {
  color: #18272F;
  position: relative;
  text-decoration: none;
}

.last-name::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #828282;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.last-name:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.first-name {
  color: rgb(0, 0, 0);
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 20px;
}

.last-name {
  color: rgb(118, 118, 118);
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 20px;
}

.first-name,
.last-name {
  animation: 8s anim-lineUp ease-out 0.1s;
}

.Intro,
.JobTitle {
  animation: 2s anim-lineUp ease-out 0.1s;
}

h1 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

.JobTitle {
  font-size: 25px;
  color: rgb(118, 118, 118);
}

.code-image-container {
  text-align: center;
  margin-right: 20px;
}

.code-image {
  width: 400px;
  height: auto;
  animation: bounceIn 2s ease-in-out 0.1s;
}

.code-image:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.logo {
  width: 60px;
  height: auto;
  margin: 10px;
  border: 5px solid rgb(49, 49, 49);
  border-radius: 25%;
  animation: bounceIn 2s ease-in-out 0.1s;
}

.logo:hover {
  transform: scale(1.1);
  border: 5px solid rgb(0, 0, 0);
  cursor: pointer;
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
}

@keyframes anim-lineUp {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }

  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}