.App {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.App-header {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.intro-container {
  text-align: left;
  margin-right: 20px;
}

.Intro {
  font-size: 20px;
  margin-bottom: -10px;
}

.first-name {
  color: rgb(0, 0, 0);
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 20px;
}

.last-name {
  color: rgb(118, 118, 118);
  font-size: 75px;
  font-weight: bold;
  margin-bottom: 20px;
}

.JobTitle {
  font-size: 25px;
}

.logo {
  width: 60px;
  height: auto;
  margin: 10px;
  border: 5px solid rgb(49, 49, 49);
  border-radius: 25%;
  animation: bounceIn 2s ease-in-out 0.1s;
}

.code-image-container {
  text-align: center;
  margin-right: 20px;
}

.code-image {
  width: 400px;
  height: auto;
  animation: bounceIn 2s ease-in-out 0.1s;
}

@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }

  /* 60% {
    transform: scale(1.2);
    opacity: 1;
  } */

  /* 100% {
    transform: scale(1);
    opacity: 1;
  } */
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}